<ul class="nav nav-pills pull-right" data-ng-init="initPage()">
  <li role="presentation" class="dropdown">
    <a ng-class="currentBooking == null ? '' : 'disabled'" class="btn btn-primary" role="button" ng-click="createNewBooking()">
       Create Booking
    </a>

  </li>
</ul>
<div class="page-header">
  <h1>My Bookings
    <small>Overview about my time</small>
  </h1>
</div>
<div class="row"></div>

<div class="row" ng-if="currentBooking ">
  <div class="panel panel-info">
    <div class="panel-heading" ng-if="!currentBooking.id">Create new booking</div>
    <div class="panel-heading" ng-if="currentBooking.id">Update existing booking</div>
    <div class="panel-body">
      <form name="bookingForm" novalidate>
        <div class="form-group col-sm-12">
          <label for="project" class="control-label">Project</label>
          <select name="project" ng-model="currentBooking.projectId" ng-options="project.id as project.projectName for project in visibleProjects" class="form-control" required>
          </select>

        </div>
        <div class="form-group col-sm-12 ">
          <label for="workDay" class="control-label">Date</label>
          <input name="workDay" class="form-control" ng-model="currentBooking.workDay" data-date-format="yyyy-MM-dd" data-date-type="number" data-min-date="02/10/2000" data-max-date="02/10/2020" data-autoclose="1" bs-datepicker="" type="text" required>
          <div class="error" ng-show="bookingForm.workDay.$dirty && bookingForm.workDay.$invalid">
            <small class="error" ng-show="bookingForm.workDay.$error">
              Your input is invalid
            </small>
          </div>
        </div>
        <div class="form-group col-sm-4">
          <label for="workStarted" class="control-label">Started</label>
          <input name="workStarted" class="form-control" size="5" ng-model="currentBooking.workStarted" data-time-format="HH:mm" data-time-type="number" data-autoclose="1" bs-timepicker type="text" required>
          <div class="error" ng-show="bookingForm.workStarted.$dirty && bookingForm.workStarted.$invalid">
            <small class="error" ng-show="bookingForm.workStarted.$error">
              Your input is invalid
            </small>
          </div>
        </div>

        <div class="form-group col-sm-4">
          <label for="workFinished" class="control-label">Finished</label>
          <input class="form-control" size="5" ng-model="currentBooking.workFinished" data-time-format="HH:mm" data-time-type="number" data-autoclose="1" name="workFinished" bs-timepicker type="text" required>
          <div class="error" ng-show="bookingForm.workFinished.$dirty && bookingForm.workFinished.$invalid">
            <small class="error" ng-show="bookingForm.workFinished.$error">
              Your input is invalid
            </small>
          </div>
        </div>

        <div class="form-group col-sm-4">
          <label for="pause" class="control-label">Pause</label>
          <input name="pause" type="text" ng-model="currentBooking.pause" class="form-control" id="pause" required>
          <div class="error" ng-show="bookingForm.pause.$dirty && bookingForm.pause.$invalid">
            <small class="error" ng-show="bookingForm.pause.$error">
              Your input is invalid
            </small>
          </div>
        </div>

        <div class="form-group col-sm-12">
          <label for="workComment" class="control-label">Comment</label>
          <textarea name="workComment" ng-model="currentBooking.comment" class="form-control" id="workComment" ng-maxlength=512>
          </textarea>
          <div class="error" ng-show="bookingForm.workComment.$dirty && bookingForm.workComment.$invalid">
            <small class="error" ng-show="bookingForm.workComment.$error.maxlength">
              Please give only maximal 512 characters in comment.
            </small>
          </div>
        </div>
        <div class="form-group col-sm-12">
          <button ng-if="!currentBooking.id" ng-disabled="bookingForm.$invalid" ng-click="createBooking()" class="btn btn-success">Book</button>
          <button ng-if="currentBooking.id" ng-disabled="bookingForm.$invalid" ng-click="updateBooking()" class="btn btn-primary">Update Booking</button>
          <button ng-click="resetBooking()" class="btn btn-danger">Cancel</button>
        </div>
      </form>
    </div>
  </div>
</div>


<div class="row">

  <div class="row">
    <div class="col-sm-12">
      <h2>Last bookings</h2>
      <table class="table  table-striped table-condensed table-hover">
        <tr>
          <th>Project</th>
          <th>Workday</th>
          <th>Started</th>
          <th>Finished</th>
          <th>Pause</th>
          <th>Comment</th>
          <th></th>
        </tr>


        <tr ng-repeat="booking in bookingsList">
          <td>{{findProjectNameById(booking.projectId)}}</td>
          <td>{{booking.workDay | date:"MM/dd/yyyy"}}</td>
          <td>{{booking.workStarted| date:"HH:mm"}}</td>
          <td>{{booking.workFinished| date:"HH:mm"}}</td>
          <td>30 min</td>
          <td>{{booking.comment}}</td>
          <td>
            <span ng-click="selectBooking(booking)" class="glyphicon glyphicon-pencil"> </span>
            <span data-animation="am-fade-and-slide-top" data-template="modal/RemovingBooking.tpl.html" bs-modal="modal" class="glyphicon glyphicon-trash"> </span>
          </td>
      </table>
    </div>
  </div>
</div>