<div class="page-header">
    <h1>My Dashboard
        <small>Control your work with numbers</small>
    </h1>
</div>


<div class="row">
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">My 2 Week Bookings</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-12" ng-if="statData.totalEntries==0">You have no bookings yet</div>
                    <div ng-if="statData.totalEntries>0">
                        <div class="col-sm-7">
                            <canvas id="workTimeMap" class="chart chart-line" legend="false"
                                    data="statData.hoursDay.data"
                                    labels="statData.hoursDay.labels"
                                    series="workTimeMapSeries">
                            </canvas>
                        </div>
                        <div class="col-sm-5">
                            <h3>Project Time</h3>
                            <canvas id="projecWorkTimeMap" class="chart chart-doughnut"
                                    data="statData.hoursProject.data" legend="false"
                                    labels="statData.hoursProject.labels"></canvas>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>


</div>
<div class="row">

    <div class="col-sm-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">My  Weeks Productivity</h3>
            </div>
            <div class="panel-body">
                <p>Booked: <span class="label label-success" ng-bind="calculateBookedTime()"></span> Std / <span class="label label-success">2</span> Weeks <span class="label label-success"> {{calculateBookedTime()/80*100}} %</span></p>

                <span>Number of Bookings: <span class="label label-success">{{statData.totalEntries}}</span></p>

            </div>

        </div>
    </div>
    <div class="col-sm-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">My Collegues</h3>
            </div>
            <div class="panel-body">
                <p data-ng-repeat="college in collegesData" ng-if="collegesData.length>0">
                    <a data-template="modal/personinfo.tpl.html" data-animation="am-flip-x" data-auto-close="1" bs-popover>{{college.forename}},
                        {{college.surname}}</a> ({{college.project}})
                </p>

                <p ng-if="collegesData.length==0">
                    You have no collegues yet
                </p>
            </div>
        </div>
    </div>

    <div class="col-sm-4">
        <div class="panel panel-default  ">
            <div class="panel-heading">
                <h3 class="panel-title">My Projects</h3>
            </div>
            <div class="panel-body">
                <p>You are assigned to <span class="label label-success">{{projects.length}}</span> projects</p>
            </div>
            <!-- List group -->
            <ul class="list-group">
                <li class="list-group-item" data-ng-repeat="project in projects">
                    {{project.projectName}},    {{project.customerName}}
                    <span ng-if="isProjectActive(project)" class="pull-right label label-success">active</span>
                </li>
            </ul>
        </div>
    </div>
</div>