   <div class="page-header">
                <h1>My Dashboard <small>Control your work with numbers</small></h1>
            </div>

            <div class="row">

                <div class="col-sm-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">My Bookings</h3>
                        </div>
                        <div class="panel-body">
                            <p>This week: 15 Std / 40 Std (22%)</p>
                            <p>Number of Bookings: 3</p>
                            <p>Cellectiveness: +15%</p>
                        </div>

                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="panel panel-default  ">
                        <div class="panel-heading">
                            <h3 class="panel-title">My Collegues</h3>
                        </div>
                        <div class="panel-body">
                            <p><a href="">Anja Muster</a> (AIDA, MuTOP)</p>
                            <p><a href="">David Müller</a> (CarryESPRIT)</p>
                            <p><a href="">Carsten Schell</a> (SAS POA)</p>
                        </div>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="panel panel-default  ">
                        <div class="panel-heading">
                            <h3 class="panel-title">My Projects</h3>
                        </div>
                        <div class="panel-body">
                            <p>Active Projects: 2</p>
                            <p>Not Active Projects: 3</p>

                        </div>
                        <!-- List group -->
                        <ul class="list-group">
                            <li class="list-group-item">AIDA, Tetra AG <span class="pull-right label label-success">active</span></li>
                            <li class="list-group-item">CarryESPRIT, ESPRIT AG <span class="pull-right label label-success">active</span></li>
                            <li class="list-group-item">POTS, Degussa Bank AG <span class="pull-right label label-warning">pending</span></li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>