<div class="page-header" data-ng-init="initProjectMode()">
    <div class="row">
        <div class="col-sm-12">
            <div class="btn-group pull-right" role="group">
                <button type="button" ng-click="selectMode('project')" ng-disabled="currentMode == 'project'"
                        class="btn btn-default"><span
                        class="glyphicon glyphicon-briefcase" aria-hidden="true"></span> Project
                </button>
                <button type="button" ng-click="selectMode('cockpit')" ng-disabled="currentMode == 'cockpit'"
                        class="btn btn-default"><span
                        class="glyphicon glyphicon-scale" aria-hidden="true"></span> Cockpit
                </button>
            </div>
            <h1>Project Cockpit
                <small>Control over projects</small>
            </h1>
        </div>
    </div>
</div>
<div class="row" >
    <div class="col-sm-12">
        <div class="row">
            <div class="col-sm-4">
                <h3>Registered projects</h3>

                <div class="list-group">
                    <a ng-repeat="project in projects" ng-click="selectProject(project)" class="list-group-item">
                        <h4 class="list-group-item-heading">{{project.projectName}}</h4>
                        <small> {{project.customerName}}</small>
                        <span ng-if="isProjectActive(project)" class="pull-right label label-success">active</span>

                    </a>
                </div>

            </div>
            <div class="col-sm-8">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="panel panel-primary">
                                    <div class="panel-heading">
                                        <h3 class="panel-title">Project Information <a class="anchorjs-link" href="#panel-title"><span
                                                class="anchorjs-icon"></span></a></h3>
                                    </div>
                                    <div class="panel-body">
                                        <div class="row">
                                            <div ng-if="selectedProject" class="col-sm-8">
                                                <span ng-if="isProjectActive(selectedProject)"
                                                      class="pull-right label label-success">active</span>

                                                <h2>{{selectedProject.projectName}}
                                                    <small>{{selectedProject.customerName}}</small>
                                                </h2>
                                                <p>
                                                    <strong>ERP ID</strong>: {{selectedProject.projectId}}</p>

                                                <p>
                                                    <strong>Start day</strong>: {{selectedProject.projectStart | date: 'yyyy-MM-dd'}}</p>

                                                <p>
                                                    <strong>End day</strong>: {{selectedProject.projectEnd | date: 'yyyy-MM-dd'}}</p>

                                                <p>
                                                    <strong>Billing type</strong>: {{selectedProject.projectType}}</p>

                                                <p>
                                                    <strong>Manager</strong>: {{selectedProject.projectResponsible}}</p>

                                                <p>{{project.description}}</p>
                                            </div>
                                            <div ng-if="!selectedProject" class="col-sm-8"></div>
                                            <div class="col-sm-4">
                                                <button class="btn-block btn btn-primary" ng-click="produceNewProject()" backdrop="static"
                                                        data-template="modal/createProject.tpl.html" data-placement="left"
                                                        data-animation="am-slide-left" bs-aside="aside"
                                                        data-container="body">Create Project
                                                </button>

                                                <button ng-if="selectedProject" class="btn-block btn btn-success" backdrop="static"
                                                        data-template="modal/createProject.tpl.html" data-placement="left"
                                                        data-animation="am-slide-left" bs-aside="aside"
                                                        data-container="body">Edit Project
                                                </button>

                                                <button id="assignResource" ng-if="selectedProject" type="button"
                                                        class="btn-block btn  btn-warning"
                                                        backdrop="static"
                                                        max-length="2" data-template="modal/AssignPerson.tpl.html" data-placement="right"
                                                        data-animation="am-slide-right"
                                                        bs-aside="aside" data-container="body">Assign Resources
                                                </button>

                                                <button ng-if="selectedProject" type="button" class="btn-block btn  btn-danger"
                                                        data-animation="am-fade-and-slide-top"
                                                        data-template="modal/RemovingProject.tpl.html" bs-modal="modal"
                                                        class="glyphicon glyphicon-trash">Delete Project
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12">
                                <div class="panel panel-info">
                                    <div class="panel-heading">
                                        <h3 class="panel-title">Project Statistics <a class="anchorjs-link" href="#panel-title"><span
                                                class="anchorjs-icon"></span></a></h3>
                                    </div>
                                    <div class="panel-body">
                                        <div ng-if="selectedProject" class="row">
                                            <div class="col-sm-12">
                                                <table class="table ">
                                                    <tr>
                                                        <th>Booked</th>
                                                        <th>Booking count</th>
                                                        <th>Team members</th>
                                                    </tr>
                                                    <tr>
                                                        <td>{{getTimeBooked()}} h</td>
                                                        <td>{{projectStatistics.bookingsCount}}</td>
                                                        <td>{{projectStatistics.resourceCount}}</td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h3 class="panel-title">Project Resources <a class="anchorjs-link" href="#panel-title"><span
                                                class="anchorjs-icon"></span></a></h3>
                                    </div>
                                    <div class="panel-body">

                                        <div ng-if="selectedProject" class="row">
                                            <div class="col-sm-12">
                                                <table ng-if="projectResources.length>0"
                                                       class="table  table-striped table-condensed table-hover">
                                                    <tr>
                                                        <th>Forename</th>
                                                        <th>Surname</th>
                                                        <th>Role</th>
                                                        <th>Role since</th>
                                                        <th></th>
                                                    </tr>

                                                    <tr ng-repeat="resource in projectResources">
                                                        <td>{{personMap[resource.personId].forename}}</td>
                                                        <td>{{personMap[resource.personId].surname}}</td>
                                                        <td>{{resource.role}}</td>
                                                        <td>{{resource.roleSince | date:"MM/dd/yyyy"}}</td>
                                                        <td>
                                                            <button ng-click="removeCommitedAssignment(resource)"
                                                                    class="btn-block btn btn-danger">
                                                                Unassign
                                                            </button>
                                                        </td>
                                                </table>
                                                <p ng-if="projectResources.length == 0"> No resources for project yet </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h3 class="panel-title">Project Bookings <a class="anchorjs-link" href="#panel-title"><span
                                                class="anchorjs-icon"></span></a></h3>
                                    </div>
                                    <div class="panel-body">

                                        <div ng-if="selectedProject" class="row">
                                            <div class="col-sm-12">
                                                <table ng-if="projectBookings.length>0"
                                                       class="table  table-striped table-condensed table-hover">
                                                    <tr>
                                                        <th>Workday</th>
                                                        <th>Employee</th>
                                                        <th>Booked (h)</th>
                                                        <th>Pause</th>
                                                        <th>Comment</th>
                                                    </tr>

                                                    <tr ng-repeat="booking in projectBookings">
                                                        <td>{{booking.workDay | date:"MM/dd/yyyy"}}</td>
                                                        <td>{{personMap[booking.personId].forename}}, {{personMap[booking.personId].surname}}</td>
                                                        <td>{{booking.workFinished - booking.workStarted| date:"HH:mm"}}</td>
                                                        <td>{{booking.pause}} min</td>
                                                        <td>{{booking.comment}}</td>
                                                </table>

                                                <p ng-if="projectBookings.length == 0"> No bookings for project yet </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>


                </div>


            </div>
        </div>
    </div>
</div>
