<div class="page-header" >
    <div class="row">
        <div class="col-sm-12">
            <div class="btn-group pull-right" ng-model="currentMode" ng-click="selectMode(currentMode)" bs-radio-group>
                <label class="btn btn-default"><input type="radio" class="btn btn-default" value="project"> <span
                        class="glyphicon glyphicon-briefcase" aria-hidden="true"></span> Project</label>
                <label class="btn btn-default"><input type="radio" class="btn btn-default" value="cockpit"> <span
                        class="glyphicon glyphicon-scale" aria-hidden="true"></span> Cockpit</label>
            </div>

            <h1>Booking Cockpit
                <small>Control over bookings</small>
            </h1>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-6">
        <canvas id="workTimeMap" class="chart chart-line" legend="true"
                data="statData.hoursDay.data"
                labels="statData.hoursDay.labels"
                series="workTimeMapSeries">
        </canvas>
    </div>
    <div class="col-sm-3">
        <h3>Project Time</h3>
        <canvas id="projecWorkTimeMap" class="chart chart-doughnut"
                data="statData.hoursProject.data" legend="false"
                labels="statData.hoursProject.labels"></canvas>
    </div>
    <div class="col-sm-3">
        <h3>Employee Time</h3>
        <canvas id="employeeMap" class="chart chart-doughnut"
                data="statData.hoursEmployee.data" legend="true"
                labels="statData.hoursEmployee.labels"></canvas>
    </div>


</div>

<div class="row">
    <div class="col-sm-12">
        <div class="row">
            <div class="col-sm-12">

                Page:
                <div class="btn-group" ng-model="paging.currentPage" bs-radio-group>
                    <label class="btn btn-default" ng-repeat="variable in paging.possiblePages ">
                        <input type="radio" class="btn btn-default" value="{{variable}}"/> {{variable+1}}</label>
                </div>
                <div class="pull-right">
                    Booking/Page:
                    <div class="btn-group" ng-model="paging.entryLimit" bs-radio-group>
                        <label class="btn btn-default"><input type="radio" class="btn btn-default" value="1"> 1</label>
                        <label class="btn btn-default"><input type="radio" class="btn btn-default" value="5"> 5</label>
                        <label class="btn btn-default"><input type="radio" class="btn btn-default" value="10"> 10</label>
                        <label class="btn btn-default"><input type="radio" class="btn btn-default" value="25"> 25</label>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12">&nbsp;</div>
                </div>
                <table class="table  table-striped table-condensed table-hover">
                    <tr>
                        <th>Workday</th>
                        <th>Project</th>
                        <th>Employee</th>
                        <th>Booked (h)</th>
                        <th>Pause</th>
                    </tr>


                    <tr ng-repeat="booking in bookingData.data">
                        <td>{{booking.workDay | date:"MM/dd/yyyy"}}</td>
                        <td>{{findProjectNameById(booking.projectId)}}</td>
                        <td>{{personMap[booking.personId].forename}}, {{personMap[booking.personId].surname}}</td>
                        <td>{{booking.workFinished - booking.workStarted| date:"HH:mm"}}</td>
                        <td>{{booking.pause}} min</td>
                </table>

            </div>
        </div>

    </div>

</div>