<div class="header" ng-controller="NavBarCtrl">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
        </button>
        <a class="navbar-brand" href="#">TimeTracker</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li ng-class="selectedNav=='/login'||selectedNav=='/' ? 'active': ''" ng-show="!userModel.isUserInGroup('User')"><a ng-click="setCurrentLocation('login')">Login</a>
          </li>
          <li ng-class="selectedNav=='/signup' ? 'active': ''" ng-show="!userModel.isUserInGroup('User')"><a ng-click="setCurrentLocation('signup')">Sign up</a>
          </li>
          <li ng-class="selectedNav=='/dashboard'||selectedNav=='/' ? 'active' : ''" ng-show="userModel.isUserInGroup('User')"><a ng-click="setCurrentLocation('dashboard')">Dashboard</a>
          </li>
          <li ng-class="selectedNav=='/projects' ? 'active' : ''" ng-show="userModel.isUserInGroup('User')"><a ng-click="setCurrentLocation('projects')">Projects</a>
          </li>
          <li ng-class="selectedNav=='/bookings' ? 'active': ''" ng-show="userModel.isUserInGroup('User')"><a ng-click="setCurrentLocation('bookings')">Bookings</a>
          </li>
          <li ng-class="selectedNav=='/management' ? 'active': ''" ng-show="userModel.isUserInGroup('Manager')"><a ng-click="setCurrentLocation('management')">Management</a>
          </li>
          <li ng-class="selectedNav=='/administration' ? 'active': ''" ng-show="userModel.isUserInGroup('Admin')"><a ng-click="setCurrentLocation('administration')">Administration</a>
          </li>
        </ul>
        <p class="navbar-text navbar-right">
          <span ng-click="logout()" class="glyphicon glyphicon-lock"></span>

        </p>
        <p ng-if="userModel.data.userId" class="navbar-text navbar-right">{{userModel.data.userId}}</p>
      </div>
      <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
  </nav>
</div>
