<div class="header" ng-controller="NavBarCtrl">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
        </button>
        <a class="navbar-brand" href="#">TimeTracker</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li><a href="#/">Login</a>
          </li>
          <li><a href="#signup">Sign up</a>
          </li>
          <li class="active"><a href="#dashboard">Dashboard <span class="sr-only">(current)</span></a>
          </li>
          <li><a href="#projects">Projects</a>
          </li>
          <li><a href="#bookings">Bookings</a>
          </li>
        </ul>
        <p class="navbar-text navbar-right">
          <span ng-click="logout()" class="glyphicon glyphicon-lock"></span>

        </p>
        <p ng-if="userModel.data.userId" class="navbar-text navbar-right">{{userModel.data.userId}}</p>
      </div>
      <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
  </nav>
</div>